{% extends "layout.html" %} {% block title %}Admin | Manage Documents{% endblock
%} {% block content %}
<nav class="navbar navbar-light bg-info p-2">
  <a href="#" class="navbar-brand">Welcome Admin</a>
  <div class="float-end">
    <a href="/admin/dashboard" class="btn btn-sm btn-success" role="button"
      ><i class="fas fa-home"></i> DASHBOARD</a
    >
    <a href="#" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container p-5">
  <h1 class="pb-2">Manage Documents</h1>
  <table class="table table-hover table-bordered border-info">
    <thead class="table-info">
      <tr>
        <td><strong>Citizen ID</strong></td>
        <td><strong>Citizen Name</strong></td>
        <td><strong>Aadhaar Card</strong></td>
        <td><strong>PAN Card</strong></td>
        <td><strong>Voter ID Card</strong></td>
        <td><strong>Driving Licence</strong></td>
      </tr>
    </thead>
    <tbody>
      <td>1</td>
      <td>Check</td>
      <td>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-download"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-pencil-alt"></i
        ></a>
        <!-- onclick="confirmDelete(this)" -->
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
      <td>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-download"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-pencil-alt"></i
        ></a>
        <!-- onclick="confirmDelete(this)" -->
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
      <td>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-download"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-pencil-alt"></i
        ></a>
        <!-- onclick="confirmDelete(this)" -->
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
      <td>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-download"></i
        ></a>
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-pencil-alt"></i
        ></a>
        <!-- onclick="confirmDelete(this)" -->
        <a href="#" class="btn btn-sm btn-outline-dark"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
    </tbody>
  </table>
</div>
{% endblock %}
