{% extends "layout.html" %} {% block title %}Admin | Add Document{% endblock
%}{% block css %}<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='admin.css') }}"
/>
{% endblock %} {% block content %}
<nav class="navbar p-2">
  <a href="/admin/dashboard" class="navbar-brand"></a>
  <div class="float-end">
    <a href="/admin/dashboard" class="btn btn-sm btn-success" role="button"
      ><i class="fas fa-home"></i> DASHBOARD</a
    >
    <a href="/logout" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container p-5">
  {% if msg %} {% if msg[0]=='D' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %} {% endif %}
  <h1>Add Document</h1>
  <hr />
  {% if citizen_id_list %}
  <form
    class="pt-3 px-5"
    action="http://localhost:5000/admin/add-doc"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="row p-2">
      <div class="col-6">
        <label for="select-doc"
          >Select the type of document <span style="color: red">*</span></label
        >
      </div>
      <div class="col-6">
        <select name="doc-type" class="form-select" id="select-doc" required>
          <option value="aadhaar">Aadhaar Card</option>
          <option value="pan">PAN Card</option>
          <option value="voter">Voter ID Card</option>
          <option value="driving">Driving Licence</option>
        </select>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-6">
        <label for="citizen-id"
          >Citizen ID of the citizen for whom the document is added
          <span style="color: red">*</span></label
        >
      </div>
      <div class="col-6">
        <select name="citizen-id" class="form-select" id="citizen-id" required>
          {% for citizen in citizen_id_list %}
          <option value="{{ citizen['citizen_id'] }}">
            {{ citizen['citizen_id'] }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-6">
        <label for="key"
          >Set a private key for the document
          <span style="color: red">*</span></label
        >
      </div>
      <div class="col-6">
        <input
          type="text"
          name="key"
          id="key"
          class="form-control"
          required
          autocomplete="off"
        />
      </div>
    </div>
    <div class="row p-2">
      <div class="col-6">
        <label for="doc"
          >Upload document <span style="color: red">*</span></label
        >
      </div>
      <div class="col-6">
        <input
          type="file"
          accept="image/*"
          name="doc"
          id="doc"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="text-center p-3">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
  {% else %}
  <p class="text-center">
    <strong>No Citizens are availabe.</strong><br />
    <em>Please <a href="/admin/add-citizen">Add Citizen</a> first.</em>
  </p>
  {% endif %}
</div>
{% endblock %}
