{% extends "layout.html" %} {% block title %}Admin | Manage Documents{% endblock
%} {% block content %}
<nav class="navbar navbar-light bg-info p-2">
  <a href="#" class="navbar-brand">Welcome Admin</a>
  <div class="float-end">
    <a href="/admin/dashboard" class="btn btn-sm btn-success" role="button"
      ><i class="fas fa-home"></i> DASHBOARD</a
    >
    <a href="#" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container p-5">
  <h1 class="pb-2">Manage Documents</h1>
  <table class="table table-hover table-bordered border-info">
    <thead class="table-info">
      <tr>
        <td><strong>Citizen ID</strong></td>
        <td><strong>Citizen Name</strong></td>
        <td><strong>Aadhaar Card</strong></td>
        <td><strong>PAN Card</strong></td>
        <td><strong>Voter ID Card</strong></td>
        <td><strong>Driving Licence</strong></td>
      </tr>
    </thead>
    <tbody>
      {% for doc in doc_list %}
      <tr>
        <td>{{ doc["citizen_id"] }}</td>
        <td>{{ doc["name"] }}</td>
        <td>
          {% if doc["aadhaar_id"]==None %}
          <a href="#" class="btn btn-sm btn-warning" title="Upload"
            ><i class="fas fa-upload"></i
          ></a>
          {% else %}
          <a
            title="Download"
            href="/downloads/aadhaar_id/{{doc['citizen_id']}}"
            class="btn btn-sm btn-success"
            ><i class="fas fa-download"></i
          ></a>
          <a
            href="/admin/aadhaar_id/edt/{{ doc['citizen_id'] }}"
            class="btn btn-sm btn-info"
            title="Edit"
            ><i class="fas fa-pencil-alt"></i
          ></a>
          <!-- onclick="confirmDelete(this)" -->
          <a href="#" class="btn btn-sm btn-danger" title="Delete"
            ><i class="fas fa-trash-alt"></i
          ></a>
          {% endif %}
        </td>
        <td>
          {% if doc["pan_id"]==None %}
          <a href="#" class="btn btn-sm btn-warning" title="Upload"
            ><i class="fas fa-upload"></i
          ></a>
          {% else %}
          <a
            title="Download"
            href="/downloads/pan_id/{{doc['citizen_id']}}"
            class="btn btn-sm btn-success"
            ><i class="fas fa-download"></i
          ></a>
          <a href="#" class="btn btn-sm btn-info" title="Edit"
            ><i class="fas fa-pencil-alt"></i
          ></a>
          <!-- onclick="confirmDelete(this)" -->
          <a href="#" class="btn btn-sm btn-danger" title="Delete"
            ><i class="fas fa-trash-alt"></i
          ></a>
          {% endif %}
        </td>
        <td>
          {% if doc["voter_id"]==None %}
          <a href="#" class="btn btn-sm btn-warning" title="Upload"
            ><i class="fas fa-upload"></i
          ></a>
          {% else %}
          <a
            title="Download"
            href="/downloads/voter_id/{{doc['citizen_id']}}"
            class="btn btn-sm btn-success"
            ><i class="fas fa-download"></i
          ></a>
          <a href="#" class="btn btn-sm btn-info" title="Edit"
            ><i class="fas fa-pencil-alt"></i
          ></a>
          <!-- onclick="confirmDelete(this)" -->
          <a href="#" class="btn btn-sm btn-danger" title="Delete"
            ><i class="fas fa-trash-alt"></i
          ></a>
          {% endif %}
        </td>
        <td class="text-center">
          {% if doc["driving_id"]==None %}
          <a href="#" class="btn btn-sm btn-warning" title="Upload"
            ><i class="fas fa-upload"></i
          ></a>
          {% else %}
          <a href="#" class="btn btn-sm btn-success" title="Download"
            ><i class="fas fa-download"></i
          ></a>
          <a href="#" class="btn btn-sm btn-info" title="Edit"
            ><i class="fas fa-pencil-alt"></i
          ></a>
          <!-- onclick="confirmDelete(this)" -->
          <a href="#" class="btn btn-sm btn-danger" title="Delete"
            ><i class="fas fa-trash-alt"></i
          ></a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
