{% extends "layout.html" %} {% block title %}Admin | Manage Citizens{% endblock
%} {% block content %}
<nav class="navbar navbar-light bg-info p-2">
  <a href="/admin/dashboard" class="navbar-brand">Welcome Admin</a>
  <div class="float-end">
    <a href="/admin/dashboard" class="btn btn-sm btn-success" role="button"
      ><i class="fas fa-home"></i> DASHBOARD</a
    >
    <a href="/logout" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container p-5">
  {% if msg %} {% if msg[0]=='C' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %} {% endif %}
  <h1>Manage Citizens</h1>
  <hr class="mb-2" />
  {% if citizenDetail_list %}
  <table class="table table-hover table-bordered border-info">
    <thead class="table-info">
      <tr>
        <td><strong>Citizen ID</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Email ID</strong></td>
        <td><strong>Edit / Delete</strong></td>
      </tr>
    </thead>
    <tbody>
      {% for citizen in citizenDetail_list %}
      <tr>
        <td>{{ citizen["citizen_id"] }}</td>
        <td>{{ citizen["name"] }}</td>
        <td>{{ citizen["email"] }}</td>
        <td>
          <a
            href="/admin/edit-citizen/{{citizen['citizen_id']}}"
            class="btn btn-sm btn-outline-primary"
            ><i class="fas fa-pencil-alt"></i> Edit</a
          >
          <button
            onclick="deleteCitizen('{{citizen['citizen_id']}}', '{{citizen['name']}}')"
            class="btn btn-sm btn-outline-danger"
          >
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="text-center">
    <strong>No Citizens to display.</strong><br />
    <em>Go to <a href="/admin/add-citizen">Add Citizen</a></em>
  </p>
  {% endif %}
</div>
{% endblock %}
