{% extends "layout.html" %} {% block title %}Citizen | Give Feedback{% endblock
%} {% block css %}<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='citizen.css') }}"
/>
{% endblock %} {% block content %}
<nav class="navbar p-2">
  <a href="/citizen/dashboard" class="navbar-brand"></a>
  <div class="float-end">
    <a href="/citizen/dashboard" class="btn btn-sm btn-success" role="button"
      ><i class="fas fa-home"></i> DASHBOARD</a
    >
    <a href="/logout" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container p-5">
  <h1>Give a Feedback</h1>
  <hr />
  {% if msg %} {% if msg[0]=='F' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %} {% endif %}
  <form
    action="http://localhost:5000/citizen/feedback"
    method="POST"
    class="pt-3 px-5"
  >
    <textarea
      name="feedback"
      class="form-control"
      placeholder="Type your valuable feedback here"
      required
      rows="10"
    ></textarea>
    <div class="text-center p-2">
      <button type="submit" class="btn btn-primary">Send Feedback</button>
    </div>
  </form>
</div>
{% endblock %}
