{% extends "layout.html" %} {% block title %}Citizen | View Documents{% endblock
%} {% block content %}
<nav class="navbar navbar-light bg-info p-2">
  <a href="/citizen/dashboard" class="navbar-brand">Welcome {{docs[1]}}</a>
  <div class="float-end">
    <a href="/citizen/dashboard" class="btn btn-sm btn-success" role="button"
      ><i class="fas fa-home"></i> DASHBOARD</a
    >
    <a href="/logout" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container p-5">
  {% if msg %} {% if msg[0]=='A' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %} {% endif %}
  <h1 class="pb-2">Your Documents</h1>
  <div class="row">
    <div class="col-6 text-center px-5 pb-5">
      {% if docs[2] %}
      <a
        href="/downloads/aadhaar_id/{{docs[0]}}"
        onclick="confirmAadhaar('{{docs[2]}}', event)"
        class="btn btn-lg btn-info m-5"
      >
        <i class="fas fa-download"></i> Download Aadhaar
      </a>
      <a href="/fogot-key/aadhaar">Forgot Private Key?</a>
      {% else %}
      <button disabled class="btn btn-lg btn-info m-5">
        <i class="fas fa-download"></i> Download Aadhaar
      </button>
      {% endif %}
    </div>
    <div class="col-6 text-center px-5 pb-5">
      {% if docs[3] %}
      <a
        href="/downloads/pan_id/{{docs[0]}}"
        onclick="confirmPan('{{docs[3]}}', event)"
        class="btn btn-lg btn-info m-5"
      >
        <i class="fas fa-download"></i> Download PAN
      </a>
      <a href="/fogot-key/pan">Forgot Private Key?</a>
      {% else %}
      <button disabled class="btn btn-lg btn-info m-5">
        <i class="fas fa-download"></i> Download PAN
      </button>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center p-5">
      {% if docs[4] %}
      <a
        href="/downloads/voter_id/{{docs[0]}}"
        onclick="confirmVoter('{{docs[4]}}', event)"
        class="btn btn-lg btn-info m-5"
      >
        <i class="fas fa-download"></i> Download Voter ID
      </a>
      <a href="/fogot-key/voter">Forgot Private Key?</a>
      {% else %}
      <button disabled class="btn btn-lg btn-info m-5">
        <i class="fas fa-download"></i> Download Voter ID
      </button>
      {% endif %}
    </div>
    <div class="col-6 text-center p-5">
      {% if docs[5] %}
      <a
        href="/downloads/driving_id/{{docs[0]}}"
        onclick="confirmDriving('{{docs[5]}}', event)"
        class="btn btn-lg btn-info m-5"
      >
        <i class="fas fa-download"></i> Download Driving Licence
      </a>
      <a href="/fogot-key/driving">Forgot Private Key?</a>
      {% else %}
      <button disabled class="btn btn-lg btn-info m-5">
        <i class="fas fa-download"></i> Download Driving Licence
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
