{% extends "layout.html" %} {% block title %}Citizen | Dashboard{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-info p-2">
  <a href="#" class="navbar-brand">Welcome {{UserName}}</a>
  <div class="float-end">
    <a href="#" class="btn btn-sm btn-danger" role="button"
      ><i class="fas fa-power-off"></i> LOGOUT</a
    >
  </div>
</nav>
<div class="container">
  <div class="row pb-5">
    <div class="col-6 text-center">
      <a
        class="btn btn-lg btn-outline-info m-4"
        role="button"
        href="/citizen/doc"
      >
        <h1><i class="fas fa-file"></i> View Documents</h1>
      </a>
    </div>
    <div class="col-6 text-center">
      <a
        class="btn btn-lg btn-outline-info m-4"
        role="button"
        href="/citizen/feedback"
      >
        <h1><i class="fas fa-comments"></i> Give Feedback</h1>
      </a>
    </div>
  </div>
  <div class="container">
    <h1>Your Profile</h1>
    <hr />
    <img
      style="height: 200px; width: 200px"
      class="img-thumbnail float-end"
      {% if(citizen_data[7]) %}
        src="{{ url_for('image_route', citizen_id='CTZ1007') }}"
      {% else %}
        src="{{ url_for('static', filename='user.png') }}"
      {% endif %}
      alt="user-img"
    />
    <p>
      <strong>Citizen ID: </strong> {{ citizen_data[0] }} <br />
      <strong>Name: </strong> {{ citizen_data[1] }} <br />
      <strong>Email ID: </strong> {{ citizen_data[2] }} <br />
      <strong>Contact No.: </strong> {{ citizen_data[3] }} <br />
      <strong>Gender: </strong> {{ citizen_data[4] }} <br />
      <strong>Date of Birth: </strong> {{ citizen_data[5] }} <br />
      <strong>Address: </strong> {{ citizen_data[6] }} <br />
    </p>
  </div>
</div>
{% endblock %}
