{% extends "layout.html" %} {% block title %}Pocket Certificate{% endblock %} {%
block css %}<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='index.css') }}"
/>
{% endblock %} {% block content %}

<div class="row full-page">
  <div class="col-7 ms-5 vertical-center">
    <h1 class="display-1 pb-3">Welcome to Pocket Certificate</h1>
    <div class="row">
      <div class="col-6">
        <div class="card shadow rounded">
          <div class="card-body">
            <h1>For Admins</h1>
            <hr />
            <p>Add, edit & delete citizens and documents for them.</p>
            <a class="btn btn-primary" href="/admin/login">Login as Admin</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card shadow rounded">
          <div class="card-body">
            <h1>For Citizens</h1>
            <hr />
            <p>
              View and download documents. Submit your feedback to the admin.
            </p>
            <a class="btn btn-primary" href="/citizen/login"
              >Login as Citizen</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
