{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block css
%}<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='login.css') }}"
/>
{% endblock %} {% block content %}
<div class="full-page d-flex align-items-center text-center">
  {% if value=="Admin" %}
  <form
    action="http://localhost:5000/admin/login"
    method="POST"
    class="text-center border rounded border-5 p-5 shadow"
  >
  {% else %}
    <form
    action="http://localhost:5000/admin/login"
    method="POST"
    class="text-center border rounded border-5 p-5 shadow"
  >
  {% endif %}
  {% if msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ msg }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {% endif %}
    <h1 class="mb-3">Login as {{value}}</h1>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="username"
      />
      <label for="floatingInput">User ID</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="text-center p-2">
      <button type="submit" class="btn btn-primary">LOGIN</button>
    </div>
  </form>
</div>
{% endblock %}
